<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Vygenerování nového hesla</title>
</head>
<body>
    <p>Dobrý den,</p>
    <p><br></p>
    <p>pravděpoboně jste zažádali o změnu vašeho hesla. Nové je <b>{$newPasswd|noescape}</b>. </p>
    <p><br></p>
    <a href="{link //Sign:in}">Zde se nyní můžete přihlásit.</a>
    <p><br></p>
    <p>Heslo si můžete po přihlášení změnit v <b>uživatelském panelu<b>. Změnu určitě doporučujeme.</p>
    <p><br></p>
     <p>Portál Chaseyourwod.com</p>
    <p><br></p>
</body>
</html>