<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Potvrzení registrace</title>
</head>
<body>
    <p>Dobrý den,</p>
    <p><br></p>
    <p>děkujeme za vaši registraci.</p>
    <p><br></p>
    <a href="{link //User:userConfirm userHash=>$idOfUser}">Registraci potvrďte kliknutím na tento odkaz.</a>
    <p><br></p>
    <p>Portál Chaseyourwod.com</p>
    <p><br></p>
</body>
</html>