{block body-if}
class="notHome"
{/block}

{block seo_description}
Registrační formulář pro registraci na portálu Chaseyourwod.com
{/block}

{block seo_kw}
registrace, register,události, soutěže, events, eventy, wods, wody, cvičení, novinky, news, CrossFit, Chaseyourwod.com
{/block}

{block site_name}
Registrace na portálu Chaseyourwod.com
{/block}


{block content}

<div class="mainLog">

    <h1 n:block=title>Registrace nového uživatele</h1>

    {control registerForm}
</div>

{/block}
