{block body-if}
  id="notHome"
{/block}



{block content}

<div class="summary">

<h2 n:block=title>Tady toho mnoho není</h2>

<p>Pokračujte například domů:</p>
<p><a n:href="Homepage:">Návrat na homepage</a></p>


</div>


{/block}

